In [4]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
#from bs4 import BeautifulSoup

In [5]:
link= "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [6]:
from IPython.display import display_html
display_html(link, raw=True)

In [4]:
conda install lxml

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [7]:
import html5lib

In [8]:
dfs = pd.read_html(link)
dfs

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 283      M8Z         Etobicoke              Mimico NW
 284      M8Z         Etobicoke     The Queensway West
 285      M8Z         Etobicoke  Royal York South West
 286      M8Z         Etobicoke         South of Bloor
 287      M9Z      Not assigned           Not assigned

 [288 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [9]:
df=dfs[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [11]:
empty = 'Not assigned'
df = df[(df.Postcode != empty ) & (df.Borough != empty) & (df.Neighbourhood != empty)]

In [13]:
df.reset_index()

     index Postcode           Borough             Neighbourhood
0        2      M3A        North York                 Parkwoods
1        3      M4A        North York          Victoria Village
2        4      M5A  Downtown Toronto              Harbourfront
3        5      M5A  Downtown Toronto               Regent Park
4        6      M6A        North York          Lawrence Heights
..     ...      ...               ...                       ...
205    282      M8Z         Etobicoke  Kingsway Park South West
206    283      M8Z         Etobicoke                 Mimico NW
207    284      M8Z         Etobicoke        The Queensway West
208    285      M8Z         Etobicoke     Royal York South West
209    286      M8Z         Etobicoke            South of Bloor

[210 rows x 4 columns]

In [15]:
def Neighbourhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighbourhood'].tolist()))
                    
grp = df.groupby(['Postcode', 'Borough'])
df = grp.apply(Neighbourhood_list).reset_index(name='Neighbourhood')

In [16]:
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Malvern, Rouge
1        M1C  Scarborough             Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
97       M9N         York                                             Weston
98       M9P    Etobicoke                                          Westmount
99       M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
100      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
101      M9W    Etobicoke                                          Northwest

[102 rows x 3 columns]